.content {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  .dark{
    color: #ffffff;
  }
}
.title {
  text-align: center;
  line-height: 2.5rem;
  font-size: 2.125rem;
  margin-bottom: 1rem;
  color: #000;
  .dark{
    color: #ffffff;
  }
}
.form {
  flex: 1 1 auto;
  color: #000;
  .dark{
    color: #ffffff;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  color: #000;
  .dark{
    color: #ffffff;
  }

}
